
header{
  background: blue;
  height: 30vh;
  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      text-align: center;
    }
    ul{
      width: 100%;
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      text-align: center;
      font-size: 30px;
      li{
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

main{
  background: lightblue;
  height: 70vh;
  .container{
    h1{
      text-align: center;
    }
  }
}

footer{
  background: purple;
  height: 50vh;
  .container{
    h1{
      text-align: center;
    }
  }
}
