header {
  background: white;
  height: 10vh;
}

header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .container .nav {
  width: 20%;
}

header .container .nav h1 {
  text-align: center;
}

header .container .nav ul {
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
}

header .container .nav ul li a {
  text-decoration: none;
  color: black;
}

main {
  background: black;
  height: 700px;
}

main .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container .video {
  margin: 90px auto;
}

main .container .video img {
  width: 720px;
  height: 500px;
}

main .container h1 {
  text-align: center;
}

footer {
  background: white;
  height: 100px;
}

footer .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container .logo {
  height: 100px;
  width: 200px;
}

footer .container .logo #map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  height: 300px;
  width: 400px;
}

footer .container h1 {
  text-align: center;
}

